<%- include("partials/header") %>

<br>
<div class="text-center w-50 mx-auto">
    <h1>Pong</h1>
    <p>Use the <b>W</b> and <b>S</b> keys to control the paddle</p>
    <button id="join" class="btn btn-primary mb-3">Join</button>
    <button id="start" class="btn btn-primary mb-3">Start</button>
    <br>
    <div id="output">

    </div>

    <script>
        const maximumPosition = 20.0;
        let position = 10;
        let lastPosition = -1;
        let playing = false;

        const socket = new WebSocket('ws://' + window.location.host + '/api/'); //connect to the ws server

        socket.addEventListener('message', function (event) { //when client receives a message
            const data = JSON.parse(event.data);

            if (data.type === 'init') {
                $("#output").append(`<p class="m-0 alert-success">Joined game! Players: ${data.players.join(', ')}</p>`);
            }
            else if (data.type === 'error') {
                $("#output").append(`<p class="m-0 alert-warning">Error: ${data.reason}</p>`);

                $("#start").hide();
                $("#join").show();
            }
            else if (data.type === 'pong_player_join') {
                $("#output").append(`<p class="m-0 alert-info">Player Joined: ${data.name}</p>`);
            }
            else if (data.type === 'pong_start') {
                $("#output").append(`<p class="m-0 alert-success">Game started!</p>`);

                $("#start").hide();

                playing = true;

                setTimeout(updatePosition, 50);
            }
            else if (data.type === 'pong_stop') {
                $("#output").append(`<p class="m-0 alert-danger">Game stopped.</p>`);

                $("#join").show();

                playing = false;

                location.reload();
            }
            else {
                $("#output").append(`<p class="m-0 alert-info">${data.type}</p>`);
            }
        });

        socket.addEventListener('close', function (event) {
            $("#output").append(`<p class="m-0 alert-danger">Disconnected</p>`);

            playing = false;
        });

        $("#start").hide().click(function (event) {
            socket.send(JSON.stringify({ type: 'pong_request_start' }))
        });

        $("#join").click(function (event) {
            const name = window.prompt('Enter a name:');

            if (!name) {
                alert("No name was provided");
                return;
            }

            socket.send(JSON.stringify({ type: 'pong_player_init', name: name }))

            $("#start").show();
            $("#join").hide();
        });

        function updatePosition() {
            if (position !== lastPosition) {
                socket.send(JSON.stringify({ type: 'pong_move', position: position / maximumPosition }))

                lastPosition = position;
            }

            if (playing) setTimeout(updatePosition, 50);
        }

        $(document).keydown(function(event) {
            if (!playing) return true;
            if (event.code === "KeyS" && position > 0) position--;
            if (event.code === "KeyW" && position < maximumPosition) position++;

            return false;
        })
    </script>
</div>
<%- include("partials/footer") %>